.contact {
    margin-top: 50px;
    margin-bottom: 70px;

    .swiper__main--links {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;

        .swiper__link {
            color: #8A8A8A;
            font-family: Raleway;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            letter-spacing: 0.28px;
        }
    }

    .avatar__headline {
        margin-top: 58px;
        display: flex;
        gap: 80px;

        .avatar__headline--title {
            color: #1A2F3F;
            font-family: Raleway;
            font-size: 32px;
            font-style: normal;
            font-weight: 800;
            line-height: 32px;
            /* 100% */
            letter-spacing: 0px;
        }

        .avatar__headline--manager {
            display: flex;
            flex-direction: column;

            .avatar__manager--name {
                color: #1A2F3F;
                font-family: Raleway;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 32px;
                /* 200% */
                letter-spacing: 0.16px;
            }

            .avatar__manager--number {
                margin-top: -7px;
                display: flex;
                align-items: center;
                gap: 10px;
                color: #337D5A;
                font-family: Montserrat;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                line-height: 32px;
                /* 228.571% */
                letter-spacing: 0.14px;
            }
        }
    }

    .contact__inner {
        display: flex;
        justify-content: space-between;
        max-width: 965px;

        .contact__inner--item2 {
            .avatar__column--order {
                margin-top: 40px;
                display: flex;
                flex-direction: column;
                gap: 5px;

                .avatar__order--title {

                    color: #1A2F3F;
                    font-family: Raleway;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 32px;
                    /* 177.778% */
                    letter-spacing: 0.18px;
                }

                .avatar__order--item {
                    color: #1A2F3F;
                    font-family: Raleway;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 32px;
                    /* 200% */
                    letter-spacing: 0.16px;
                }
            }
        }

        .contact__inner--item {
            .avatar__column--order {
                margin-top: 40px;
                display: flex;
                flex-direction: column;
                gap: 5px;

                .avatar__order--title {

                    color: #1A2F3F;
                    font-family: Raleway;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 32px;
                    /* 177.778% */
                    letter-spacing: 0.18px;
                }

                .avatar__order--item {
                    color: #1A2F3F;
                    font-family: Raleway;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 32px;
                    /* 200% */
                    letter-spacing: 0.16px;
                }
            }

            .reg__item--info {
                margin-top: 55px;
                display: flex;
                flex-direction: column;
                gap: 15px;
                margin-left: 110px;

                .reg__info--item {
                    input {
                        width: 474px;
                        height: 47px;
                        border: 0.5px solid rgba(0, 0, 0, 0.15);

                    }

                    input::placeholder {
                        padding-left: 15px;
                        color: #1A2F3F;
                        font-family: Montserrat;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 17px;
                        /* 121.429% */
                    }
                }
            }

            .reg__inner--btn {
                margin-top: 15px;
                margin-left: 110px;
                color: #FFF;
                font-family: Raleway;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 17px;
                /* 106.25% */
                width: 229px;
                height: 50px;
                flex-shrink: 0;
                border: 0.5px solid #337D5A;
                background: #337D5A;

            }
        }

        .reg__column--img {
            margin-top: 50px;
            position: relative;


            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(51, 125, 90, 0.60);
                top: 0;
            }

            .upload__photo {
                position: absolute;
                top: 46%;

                input {
                    color: #FFF;
                    font-family: Montserrat;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 17px;
                    /* 130.769% */
                    border-bottom: 1px dashed #FFF;
                }
            }
        }
    }

}


@media screen and (max-width:1000px) {


    .contact .contact__inner .contact__inner--item .reg__item--info {
        margin-left: 0;
    }

    .contact .contact__inner .contact__inner--item .reg__inner--btn {
        margin-left: 0;
    }
}

@media screen and (max-width:800px) {
    .contact .contact__inner .contact__inner--item .reg__item--info .reg__info--item input {
        width: 350px;
    }

}

@media screen and (max-width:700px) {
    .contact .avatar__headline {
        flex-direction: column;
        gap: 50px;
    }

    .contact .contact__inner {
        flex-direction: column;
        align-items: center;
    }

    .contact__inner--item2 {
        display: flex;
        gap: 50px;
    }

    .contact .contact__inner .contact__inner--item .reg__inner--btn {
        margin: 0 auto;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width:360px) {
    .contact .contact__inner .contact__inner--item .reg__item--info .reg__info--item input {
        max-width: 350px;
        width: 100%;
    }
}