<div class="swiper swiper__clients">
  <div class="swiper__main--links">
    <a href="" class="swiper__link">Главная</a>
    <svg
      class="swiper__link--svg"
      xmlns="http://www.w3.org/2000/svg"
      width="12"
      height="12"
      viewBox="0 0 12 12"
      fill="none"
    >
      <path
        d="M7.00001 11L6.3 10.3L10.1 6.5H0V5.50002H10.1L6.3 1.7L7.00001 1.00002L12 6.00001L7.00001 11Z"
        fill="white"
      />
    </svg>
    <a href="" class="swiper__link">Оптовым и корпоративным клиентам </a>
  </div>
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper swiper__clients--wrapper">
    <!-- Slides -->
    <div class="swiper-slide swiper__clients--slide">
      <img src="images/dist/Untitled-5.avif" alt="" />
      <div class="main__slide--text">
        <div class="slide__text--title">Орех Причерноморья</div>
        <div class="slide__text--subtitle">
          Единственный в Украине сад совместного выращивание фундука и грецкого
          ореха
        </div>
      </div>
    </div>
    <div class="swiper-slide swiper__clients--slide">
      <img src="images/dist/Untitled-5.avif" alt="" />
      <div class="main__slide--text">
        <div class="slide__text--title">Орех Причерноморья</div>
        <div class="slide__text--subtitle">
          Единственный в Украине сад совместного выращивание фундука и грецкого
          ореха
        </div>
      </div>
    </div>
    <div class="swiper-slide swiper__clients--slide">
      <img src="images/dist/Untitled-5.avif" alt="" />
      <div class="main__slide--text">
        <div class="slide__text--title">Орех Причерноморья</div>
        <div class="slide__text--subtitle">
          Единственный в Украине сад совместного выращивание фундука и грецкого
          ореха
        </div>
      </div>
    </div>
  </div>
</div>
